html, body {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

#loader {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: $charcoal;
  z-index: 2;
}

.splash {
  z-index: 4;
}

#map {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}

.foursquare-logo {
  display: block;
  position: relative;
  top: -5px;
  left: 10px;

  img {
    height: 25px;
  }
}
