.searchbar {
  position: relative;
  z-index: 1;
  
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 15px;
  padding: 5px 10px;
  background-color: $flat-white;
  border-radius: 5px;

  -webkit-box-shadow: 0px 0px 5px 0px rgba(128,128,128,1);
  -moz-box-shadow: 0px 0px 5px 0px rgba(128,128,128,1);
  box-shadow: 0px 0px 5px 0px rgba(128,128,128,1);

  .search-menu,
  .search-filter {
    height: 32px;
    width: 32px;
    padding: 7px;
  }

  .search-input {
    border: none;
    box-shadow: none;
  }
}
