// main color palette
$red:       #f9320c;
$blue:      #3d9bfa;
$green:     #67c926;
$white:     #f5f5f5;
$charcoal:  #47494d;
$black:     #000000;

// shaded color palette
$slate:       #6c6d70;
$flat-white:  #ffffff;
$light-gray:  #dee1e3;
$light-blue:  #8bc3fc;
$light-green: #a4df7d;
